In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import confusion_matrix

In [2]:
col_names=['age','job','marital','education','default','balance','housing','loan','contact','day','month','duration','compaign','pdays','previous','poutcome']
banks=pd.read_excel("C:\\Users\\User\\Desktop\\bankdata.xlsx")

banks.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,Y
0,30,1,0,2,0,1787,0,0,2,19,10,79,1,-1,0,0,0
1,33,10,0,1,0,4789,1,1,2,11,5,220,1,339,4,2,0
2,35,2,2,3,0,1350,1,0,2,16,4,185,1,330,1,2,0
3,30,2,0,3,0,1476,1,1,0,3,6,199,4,-1,0,0,0
4,59,6,0,1,0,0,1,0,0,5,5,226,1,-1,0,0,0

In [3]:
feature_names=[' age', ' job ', ' marital ', ' education ', ' default ', ' balance ',
       ' housing ', ' loan ', ' contact ', ' day ', ' month ', ' duration ',
       ' campaign ', ' pdays ', ' previous ', ' poutcome ',]
#banks.columns

In [4]:
X=banks[feature_names]
z=banks.Y
X_train, X_test, z_train, z_test =train_test_split(X,z,test_size=0.4)

In [5]:
clf=DecisionTreeClassifier()
clf=clf.fit(X_train ,z_train)

z_pred=clf.predict(X_test)

In [6]:
print("accuracy score is",metrics.accuracy_score(z_test,z_pred))
print("Confusion Matrix: ", 
        confusion_matrix(z_test, z_pred))

accuracy score is 0.8606965174129353
Confusion Matrix:  [[1467  124]
 [ 128   90]]

In [35]:
from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO  
from IPython.display import Image  
import pydotplus
from sklearn import preprocessing
from sklearn import tree
%matplotlib inline

In [39]:
def plot_decision_tree(clf,feature_names,target_name):
    dot_data=stringIO()
    tree.export_graphviz(clf, out_file=dot_data,
                         feature_names=feature_name,
                         class_names=target_name,
                         filled=True,rounded=True,
                         special_characters=True)
    graph=pydotplus.graph_from_dot_data(dot_data.getvalue())
    return Image(graph.create_png())

In [ ]:
from sklearn.externals.six import StringIO  
from IPython.display import Image  
from sklearn.tree import export_graphviz
import pydotplus
dot_data = StringIO()
export_graphviz(clf, out_file=dot_data,  
                filled=True, rounded=True,
                special_characters=True, feature_names = feature_names,class_names=['0','1'])
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
graph.write_png('diabetes.png')
Image(graph.create_png())